body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;-webkit-box-sizing:border-box;
}
body{ font-family:"宋体"; font-size:12px; color:#333333;}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:14px;}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none; color:#333333;}
a:hover{ color:#009999;}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}
html,body,.wrap{
	width: 100%;
	height: 100%;
}
.wrap{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	background: #F0F0F0;
}
.header{
	width: 100%;
	height: 44px;
	background: #212121;
	text-align: center;
	line-height: 44px;
	position: relative;
	img{
		width: 42px;
		img{
			width: 100%;
		}
	}
	.search{
		position: absolute;
		width: 23px;
		height: 23px;
		background: url(../img/96.png);
		background-size: cover;
		top: 10px;
		left: 20px;
	}
	.shopping{
		position: absolute;
		width: 23px;
		height: 23px;
		background: url(../img/95.png);
		background-size: cover;
		top: 10px;
		right: 20px;
	}
}
.section{
	width: 100%;
	height: 100%;
	-webkit-flex:1;
	.banner{
		width: 100%;
		padding-bottom: 17px;
		background: #EEEEEE;
		img{
			width: 100%;
		}
	}
	.purchase{
		width: 100%;
		height: auto;
		padding: 0 8px;
		background: #fff;
	}
	.commodity{
		width: 100%;
		height: auto;
		display: -webkit-flex;
		background: #fff;
		dl{
			-webkit-flex:1;
			width: 100%;
			padding: 0 16px;
			dt{
				padding: 2px;
				border:solid 1px #C6C6C6;
				border-radius: 5px;
				width: 100%;
				img{
					width: 100%;
				}
			}
			dd{
				text-align: center;
				.p_one{
					padding: 5px 0 8px 0;
				}
				.p_two{
					font-size: 10px;
					color: #DD4868;
					padding-bottom: 16px;
				}
			}
		}
	}
	.treasure_box{
		background: #fff;
		width: 100%;
		padding: 0 9px;
		margin-top: 15px;
	}
	.scene_box{
		background: #fff;
		width: 100%;
		padding: 0 9px;
		margin-top: 15px;
	}
}
.purchase_head{
	width: 100%;
	border-bottom: solid 1px #F0F0F0;
	h2{
		font-size: 14px;
		padding: 16px 0 12px 0;
		display:inline-block;
	}
	p{
		float: right;
		padding: 18px 0 15px 0;
		span{
			padding-right: 31px;
			background: url(../img/87.png) no-repeat right center;
			background-size: contain;
			font-size: 10px;
		}
	}
}
.treasure_min{
	width: 100%;
	height:auto;
	position: relative;
	dl{
		padding-top: 13px;
		dt{
			width: 45px;
			float: left;
			margin-left: 15px;
			img{
				width: 100%;
			}
		}
		dd{
			padding-top: 9px;
			padding-bottom: 15px;
			p{
				float: left;
				padding-left: 10px;
			}
			span{
				float: right;
				color: #E15E7A;
				padding-right: 15px;
			}
		}
	}
	
}
.img_one{
	width: 100%;
	img{
		width: 100%;
	}
}
.img_two{
	width: 100%;
	margin-top: 19px;
	img{
		width: 100%;
	}
}









.footer{
	width: 100%;
	height: 44px;
	display: -webkit-flex;
	position: fixed;
	bottom: 0;
	dl{
		background: #2B2A29;
		-webkit-flex:1;
		width: 100%;
		height: 44px;
		text-align: center;
		margin-right: 2px;
		dt{
			padding-top: 6px;
			height: 22px;
			img{
				height: 100%;
			}
		}
		dd{
			font-size: 10px;
			padding-top: 3px;
			color: #fff;
		}
	}
	.dl_none{
		margin-right: 0;
	}
	.dd_color{
		color: #DD4868;
	}
}